<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenya.quality.mapper.SysRoleMapper">
    <sql id="sysRoleAllFields">
        id,role_name,role_code,description,create_time,update_time,is_deleted
    </sql>

    <select id="selectSysRoleAll" parameterType="sysRole" resultType="sysRole">
        SELECT <include refid="sysRoleAllFields"/> FROM sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                role_name LIKE CONCAT('%',#{roleName},'%')
            </if>
        </where>
    </select>

    <insert id="saveRole" parameterType="sysRole">
        INSERT INTO sys_role
        <trim suffix="(" prefix=")">
            <if test="roleName != null and roleName != ''">
                role_name,
            </if>
        </trim>
    </insert>

    <update id="updateSysRole" parameterType="sysRole">
        UPDATE sys_role SET
        <if test="roleName != null and roleName !=''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode !=''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time = now()
        WHERE id = #{id}
    </update>
</mapper>
